*.class
*.iml
*.jar
*.pdf
*.csv
*.xlsx
*.txt
*._edn
.idea
.shadow-cljs
checkouts
classes
figwheel_server.log
lein-template.iml
node_modules
pom.xml
pom.xml.asc
resources/public/js
resources/public/bootstrap-3.3.7
resources/public/bootstrap-4.1.2
resources/public/images
resources/public/css/fonts
favicon.ico
target
out
package-lock.json
resources/private
.lein-repl-history
.lein-failures
i18n/i18n.js
i18n/tmp
i18n/*.mo
i18n/*~
src/main/fulcro
/src/main/general/replace.clj
temp
check-code.log
*.~lock.*.xlsx#
*.ods
.nrepl-port
/.cpcache/
yarn.lock
yarn-error.log
linux-install*.sh
deps.edn
src/main/applets/nba/data/large.cljs
